*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  top: 0px;
  padding: 20px 10px;
  width: 100%;
  z-index: 1;/** specifier la priorite d'un element sur un autre dans un etat de surimposition**/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  

}
.navbar{
  display: flex;
  position: relative;

}
.navbar li{
  list-style: none;

}
.navbar a{
  text-decoration: none;
  color: rgb(221, 208, 208);
  font-family: 700;
  margin-right: 100px;
  padding: 10px 40px;
}

.fas {
  font-size: 24px;
  color: pink;
}

.new-header {
  position: fixed;
  top: 50px; /* Adjust based on the height of your existing header */
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white; /* Light grey background for contrast */
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid;
  border-color: #333;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: #333;
}

.icons a {
  margin-left: 50px;
  text-decoration: none;
  color: #333;
}

.icons i {
  font-size: 15px;
  color: #333;
  margin-left: 80px;
}
/*logo*/

.logo-container{
  padding-top: 50vh;
}

.new1-header{
  margin: 30px;
  padding: 20px;
}
.logo-container{
  display: flex;
  justify-content: center; 
  padding-top: 30px;
}

.logo{
  max-width: 300px; 
  max-height: 300px; 
  min-height: -100vh;
}

/*header3*/
.new-header1{
  position: relative;
  width: 100%;
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: pink;
  min-height: 8vh;
  margin-right: 30vh;
  margin-bottom: 0.5px;
}

.navbar1{
  display: flex;
  position: relative;
  padding: 10px 10px;
 
}
.navbar1 li{
  list-style: none;
  padding-top: 20px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 0;
}
.navbar1 a{
  text-decoration: none;
  font-family: 700;
  margin-right: 20px;
  padding: 5px 10px;
}

.banniere{
  position: relative;
  width: 100%; /* occupe la totalite des element*/
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-image: url(./immages/background.jpg);
  background-size: cover;
  min-height: 35vh;
}

 .contenu{
  max-width: 70%;
  text-align: center;
  background-color: #f5f5f5;
  min-height: 10vh;
  margin-left: 24vh;
}
.liste{
  display: flex;
  position: relative;
 
}

.liste li{
  list-style: none;
  display: flex;
  align-items: center;
  min-height: 10vh; 
}

.liste a{
  padding: 10px 10px;
  font-weight: 400;
  padding-top: 10px;
  color: #111;
}

/*voici un nouveau sectio*/
  
section{
  padding: 100px;
  margin-top: 40px;
}




.titre{
  margin-top: 70px;
  max-width: 90%;
  background-color:#f9f5f5;
  padding: 10px;
  min-height: 8vh;
  margin-left: 18vh; 
}

.titre p{
  font-size: 14px;
  color: #999999;
  direction: ltr;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.menu{
  margin-top: -100px;
}

.menu .contenu{
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .contenu .box{
  width: 300px;
  margin: 20px;
  /*border: 10px solid #fff;*/
 /* box-shadow: 20px 15px 35px rgba(0,0,0,0.8);*/
}

.menu .contenu .box .imbox{
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .contenu .box .imbox img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}

/*text*/
.menu .contenu .box .text{
  text-align: left;
  font-weight: 300px;
  color: #111;
}

.menu .contenu .box .text p{
  color: #999999;
  padding-top: 25px;
}

.menu .contenu .box .text h3{
  padding-top: 25px;
  font-weight: normal;
}

h5{
  color: #333;
  margin-left: 15vh;
  padding-left: 15vh;
  padding-top: 10px;
}

.next{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  

}
.next li{
  list-style: none;

}
.next li{
  text-decoration: none;
  color: rgb(21, 18, 18);
  font-family: 700;
  text-align: right;
}
/*back2*/

.background2{
  background-image: url(./immages/background2.jpg);
  min-height: 45vh;
  background-size: cover;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa; /* Couleur de fond du pied de page */
  padding: 20px 0; /* Espacement interne */
}

.column {
  text-align: center; /* Centrer le texte dans chaque colonne */
}

.column h3 {
  margin-bottom: 10px; /* Espacement sous le titre */
  text-transform: uppercase;
  color: #333;
  font-weight: normal;
}

.column ul {
  list-style-type: none; /* Supprimer les points de la liste */
  padding: 0; /* Supprimer l'espacement par défaut autour des éléments de liste */
  list-style: none;
}


.column img {
  width: 200px; /* Taille des icons */
  height: auto; /* Hauteur automatique pour maintenir le rapport d'échelle */
}


.formulaire {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.formulaire h1{
  color: #333;
  font-weight: normal;
  margin-bottom: 30px;
}

.formulaire h1{
  color: #333;
  font-weight: normal;
}

.placeholder-text {
  display: inline-block;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-top: 30px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}